<% if item.errors.any? %>
  <div class="alert alert-danger">
    <h4 class="alert-heading">Oops! There were some errors:</h4>
    <ul class="mb-0">
      <% item.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  </div>
<% end %>