<% provide :full_title, "Home"%>
<% set_current_page "Home"%>

<h1 class="display-4">Hello, <%= @user %>!</h1>
<p class="lead">Welcome to our website. We are glad to have you here.</p>
<hr class="my-4">
<p>Here are some features you might find interesting:</p>
<ul class="list-group mb-4">
  <li class="list-group-item">Feature 1: User-friendly interface</li>
  <li class="list-group-item">Feature 2: Responsive design</li>
  <li class="list-group-item">Feature 3: Customizable settings</li>
</ul>